body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  background: #222;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.page {
  padding: 20px;
}

.form input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #333;
}

/* HOME PAGE */

.home {
  min-height: 100vh;
  background: linear-gradient(135deg, #1f2933, #111827);
  color: #f9fafb;
  padding: 40px 20px;
}

.hero {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 710;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #38bdf8;
}

.hero p {
  font-size: 1.2rem;
  color: #d1d5db;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn.primary {
  background: #38bdf8;
  color: #0f172a;
}

.btn.primary:hover {
  background: #0ea5e9;
}

.btn.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.btn.secondary:hover {
  background: #38bdf8;
  color: #0f172a;
}

/* FEATURES */

.features {
  max-width: 1100px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.feature-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
}

.feature-card h3 {
  margin-bottom: 12px;
  font-size: 1.3rem;
}

.feature-card p {
  color: #d1d5db;
}
